<%= form_for review, url: product_reviews_path(product), html: { method: :post } do |f| %>
  <%= render 'spree/shared/error_messages', target: review %>

  <div class="form-group">
    <%= f.label :rating %>
    <%= render 'spree/reviews/stars', stars: review.rating, edit_enabled: true %>
  </div>

  <%= f.text_field :name, maxlength: 255, size: 50, class: 'form-control required col-12 mt-0 mb-1 mb-lg-2', placeholder: true %>

  <%= f.text_field :title, maxlength: 255, size: 50, class: 'form-control required col-12 mt-3 mb-1 mb-lg-2', placeholder: true %>

  <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 50, class: 'form-control required col-12 mt-3 mb-3', placeholder: true %>
  
  <% if Spree::Reviews::Config[:show_identifier] %>
    <div class="checkbox">
      <%= f.label :show_identifier do %>
        <%= f.check_box :show_identifier, checked: true %>
        <%= Spree::Review.human_attribute_name(:show_identifier) %>
      <% end %>
    </div>
  <% end %>

  <div class="text-center text-lg-left mt-lg-1 mb-4">
    <%= f.submit Spree.t(:submit_your_review), alt: Spree.t(:submit_your_review), id: 'review_submit', title: Spree.t(:submit_your_review), class: "col-7 col-lg-6 mb-4 mb-lg-0 btn btn-primary text-uppercase font-weight-bold" %>
  </div>
<% end %>
