<%#= content_tag :h3, Spree.t(:leave_us_a_review_for, name: @product.name), class: 'new-review-title' %>
<%#= render 'form', review: @review, product: @product %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @contact } %>

<div class="container">
  <%= spree_breadcrumbs(@taxon, '', @product) %>
</div>
<div class="product-review">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-lg-4 pt-lg-2 pb-lg-3 text-center text-lg-left">
        <div class="px-3 px-lg-0 pt-lg-1 my-5 contact-us-header">
          <h1><%= Spree.t(:leave_us_a_review_for, name: @product.name) %></h1>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-left">
        <div class="pt-2 pb-lg-1 mb-3 product-review-subheader">
          <figure class="logo mx-auto mx-xl-0 pb-xl-1 mb-0 mb-xl-4">
            <%= link_to product_image(@product.master), @product, class: 'w-50' %>
          </figure>
        </div>
        <% if @product.respond_to?(:vendor) && @product.vendor.present? %>
          <div class="text-center text-md-left add-to-cart-form-general-availability text-uppercase">
            <%= Spree.t(:sold_by) %>:          
            <span class="add-to-cart-form-general-availability-value"><%= @product.vendor.name %></span>
          </div>
        <% end %>  
      </div>
      <div class="col-12 col-lg-6 mt-5 mt-lg-0">
        <div class="mt-4 mt-lg-2 mb-1 mb-lg-2 contact-us-subheader text-center text-lg-left">
          <h3><%= Spree.t('spree_contact_us.left_title') %></h3>
        </div>
        
        <%= render 'form', review: @review, product: @product %>
        
      </div>
    </div>
  </div>
</div>