<% stars = product.stars %>
<% reviews_count = product.reviews_count %>
<div class="ratings">
  <p>
    <span class="pr-2"><%= Spree.t(:average_customer_rating) %>:</span>
    <span class="ratings-stars pr-2">
      <span title="<%= txt_stars(stars) %>">
        <%= render 'spree/reviews/stars', stars: stars %>
      </span>
    </span>
    <span class="ratings-basedupon">(<%= Spree.t(:based_upon_review_count, count: reviews_count) %>)</span>    
  </p>
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="ratingValue" content="<%= stars %>"></span>
    <span itemprop="reviewCount" content="<%= reviews_count %>"></span>
  </div>
</div>
