<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <% if review.show_identifier %>
  <p id="review_author">
    <%= icon(name: 'person',
            classes: 'd-none d-xl-inline-block',
            width: 31.05,
            height: 27)  %>
      
    <% if Spree::Reviews::Config[:show_email] && review.user %>
      <span itemprop="author"><%= review.user.email %></span>
    <% else %>
      <span itemprop="author"><%= review.name %></span>
    <% end %>
  </p>
  <% else %>
    <p><span itemprop="author"><%= Spree.t(:anonymous) %></span></p>
  <% end %>
  
  <span class="reviews-rating mr-2" title="<%= txt_stars(review.rating) %>">
    <%= render 'spree/reviews/stars', stars: review.rating %>
  </span>
  <span itemprop="name"><strong><%= review.title %></strong></span>
  <br/>
  
  <div class="attribution text-center text-md-left">
    <span class="text-break"><%= Spree.t(:submitted_on) %></span>
    <span class="text-break"><%= l review.created_at.to_date %></span>
  </div>
  <span itemprop="datePublished" content="<%= review.created_at.to_date.to_s %>"></span>
  <span itemprop="reviewRating" content="<%= review.rating %>"></span>

  <div class="mt-1 mb-1" itemprop="reviewBody">
    <span><%= simple_format(review.review) %></span>
  </div>
  <% if Spree::Reviews::Config[:feedback_rating] && (!Spree::Reviews::Config[:require_login] || spree_current_user) %>
    <div class="feedback_review" id="feedback_review_<%= review.id %>">
      <%= render 'spree/feedback_reviews/form', review: review %>
    </div>
  <% end %>
</div>
